body {
  background-color: #ffffff;
  color: #202020;
  font-family: sans-serif;
}

.App {
  width: 100%;
}
/* Header */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: xx-large;
  font-weight: lighter;
  width: inherit;
  box-shadow: 0 0 1px grey;
}
.image {
  border-radius: 20%;
  padding: 1rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: inherit;
  height: 50rem;
}
/* Bouton operating + result */
.operating {
  display: table;
  justify-content: center;

  width: inherit;
  margin-top: 15rem;
}
.minus {
  display: flex;
  justify-content: flex-end;
}
.sign-minus {
  background-color: #ffffff;
  color: #000000;
  font-size: xx-large;
  font-weight: bold;
  height: 3rem;
  width: 5rem;
  margin-left: 63%;
  border: none;
}
.plus {
  display: flex;
  justify-content: flex-start;
}
.sign-plus {
  background-color: #ffffff;
  color: #000000;
  font-size: xx-large;
  font-weight: bold;
  height: 3rem;
  width: 5rem;
  border: none;
}
.result {
  display: table-cell;
  background-color: #5c48d3;
  border-radius: 15%;
  color: white;
  font-size: xx-large;
  height: 3rem;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
}
/* Bouton reset */
.reset {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: inherit;
}
.reset-bt {
  background-color: #5c48d3;
  border-radius: 15%;
  color: white;
  height: 1.5rem;
  margin-top: 1rem;
}
/* Footer */
.footer {
  display: flex;
  justify-content: center;
}
.bold-span {
  font-weight: bold;
}
