body {
  background-color: #ffffff;
  color: #202020;
  font-family: sans-serif;
}

.App {
  width: 100vh;
}
/* Header */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: xx-large;
  font-weight: lighter;
  width: inherit;
  box-shadow: 0 0 1px grey;
}
.image {
  border-radius: 20%;
  padding: 1rem;
}

/* Main Bouton operating + result */
.main {
  display: flex;
  margin-top: 35%;
  height: 30rem;
}
.col1,
.col2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}
.switch-on {
  background-color: #ffffff;
  color: #5c48d3;
  font-size: xx-large;
  font-weight: bold;

  margin-left: 63%;
  border-radius: 10%;
}
.on,
.off {
  display: block;
  width: 5rem;
}
.row {
  display: flex;
  margin-bottom: 1rem;
}
.switch-off {
  background-color: #5c48d3;
  color: #ffffff;
  font-size: xx-large;
  font-weight: bold;

  margin-left: 2rem;
  border-radius: 10%;
}
.ligth-authorization {
  display: table-cell;
  background-color: red;
  border-radius: 15%;
  color: white;
  font-size: xx-large;
  height: 3rem;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
}
/* Bouton reset */
.reset {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: inherit;
}
.reset-bt {
  background-color: #5c48d3;
  border-radius: 15%;
  color: white;
  height: 1.5rem;
  margin-top: 1rem;
}
/* Footer */
.footer {
  display: flex;
  justify-content: center;
}
.bold-span {
  font-weight: bold;
}
